<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Onasis Town House | CMS</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style6.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />
    <style>
        .dataTables_wrapper label select {
            width: 160px;
            max-width: 100%;
            height: 35px;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Sidebar Section -->
    <a href="#" class="js-cappa-nav-toggle cappa-nav-toggle"><i></i></a>
    <div th:replace="admin/fragments/aside :: sidebar"></div>
    <!-- Main -->
    <div id="cappa-main">
        <section class="section-padding">
            <div class="container">
                <div id="printData" style="background-color: white; border-color: #aa8453;" class="card">
                    <div class="card-header">
                        <h3 id="headerFormulir" style="color: #aa8453;">Simulasi Sistem Pembayaran</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="tanggal">Tanggal: </label>
                            </div>
                            <div class="col-md-6">
                                <input th:value="${tanggal}" type="text" class="form-control-sm" name="tanggal"
                                    id="tanggal" readonly="" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-2">
                                <label for="property">Property: </label>
                            </div>
                            <div class="col-md-6">
                                <select name="property" id="property" class="custom-select">
                                    <option value="" selected disabled>-- Pilih Property --</option>
                                    <option th:each="property: ${listProperty}" th:value="${property.idProperty}"
                                        th:text="${property.propertyName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-2">
                                <label for="tipeProperty">Tipe Property: </label>
                            </div>
                            <div class="col-md-6">
                                <select name="tipeProperty" id="tipeProperty" class="custom-select">
                                    <option value="" selected disabled>-- Pilih Tipe --</option>
                                </select>
                            </div>
                        </div>
                        <div id="sectionLbLt" class="row" style="display: none;">
                            <div class="col-md-2">
                                <label for="luasBangunan">Luas Bangunan: </label>
                            </div>
                            <div class="col-md-3">
                                <p style="color: black;" id="luasBangunan"></p>
                            </div>
                            <div class="col-md-2">
                                <label for="luasTanah">Luas Tanah: </label>
                            </div>
                            <div class="col-md-3">
                                <p style="color: black;" id="luasTanah"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="namaPembeli">Nama Pembeli: </label>
                            </div>
                            <div class="col-md-6">
                                <input placeholder="masukan nama pembeli" type="text" name="namaPembeli"
                                    id="namaPembeli" class="form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="nomorKtp">No KTP: </label>
                            </div>
                            <div class="col-md-6">
                                <input placeholder="masukan nomor KTP" type="text" name="nomorKtp" id="nomorKtp"
                                    class="form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="alamatLengkap">Alamat Lengkap: </label>
                            </div>
                            <div class="col-md-6">
                                <textarea style="color: black;" name="alamatLengkap" id="alamatLengkap" cols="30"
                                    rows="2"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="nomerTelpon">Nomor Telepon</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">+62</span>
                                    </div>
                                    <input type="text" class="form-control p-2" placeholder="masukan nomor telepon"
                                        id="nomerTelpon" name="nomerTelpon">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="namaMarketing">Nama Marketing: </label>
                            </div>
                            <div class="col-md-6">
                                <input placeholder="masukan nama marketing" type="text" name="namaMarketing"
                                    id="namaMarketing" class="form-control-sm" />
                            </div>
                        </div>
                        <div id="sectionPembayaran" style="display: none;">
                            <div class="row mb-2">
                                <div class="col-md-2">
                                    <label for="caraBayar">Cara Bayar: </label>
                                </div>
                                <div class="col-md-6">
                                    <select name="caraBayar" id="caraBayar" class="custom-select">
                                        <option value="" selected disabled>-- Pilih cara bayar --</option>
                                        <option value="1">Tunai</option>
                                        <option value="2">Tunai Bertahap</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="hargaJual">Harga: </label>
                                </div>
                                <div class="col-md-6">
                                    <p style="color:black" id="hargaJual">Rp. 0</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="discount">Discount: </label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="discount" id="discount"
                                        placeholder="masukan discount harga" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="totalHarga">Harga Discount:</label>
                                </div>
                                <div class="col-md-4">
                                    <p style="color:black" id="totalHarga">Rp. 0</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="catatan">Catatan:</label>
                                </div>
                                <div class="col-md-6">
                                    <textarea style="color: black;" name="catatan" id="catatan" cols="30"
                                        rows="2"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="bookingFee">Booking Fee: </label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control-sm" type="text" name="bookingFee" id="bookingFee"
                                        placeholder="masukan booking fee" />
                                </div>
                                <div class="col-md-2">
                                    <label for="tanggalBooking">Tanggal: </label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" type="date" name="tanggalBooking" id="tanggalBooking"
                                        placeholder="masukan booking fee" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-2">
                                    <label for="dpBayar">DP: </label>
                                </div>
                                <div class="col-md-4">
                                    <select class="custom-select" name="dpBayar" id="dpBayar">
                                        <option value="">-- Uang Muka / DP --</option>
                                        <option value="1">10%</option>
                                        <option value="2">20%</option>
                                        <option value="3">30%</option>
                                        <option value="4">40%</option>
                                        <option value="5">50%</option>
                                        <option value="6">60%</option>
                                        <option value="7">70%</option>
                                        <option value="8">80%</option>
                                        <option value="9">90%</option>
                                        <option value="10">100%</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="tanggalDp">Tanggal: </label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" type="date" name="tanggalDp" id="tanggalDp"
                                        placeholder="masukan tanggal dp" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="totalDp">Total DP</label>
                                </div>
                                <div class="col-md-4">
                                    <p style="color:black" id="totalDp">Rp. 0</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label for="totalkeseluruhanHarga">Total Angsuran</label>
                                </div>
                                <div class="col-md-4">
                                    <p style="color:black" id="totalkeseluruhanHarga">Rp. 0</p>
                                </div>
                                <div class="col-md-2" id="lblTglAngsuran" style="display: none;">
                                    <label for="tanggalAngsuran">Tanggal: </label>
                                </div>
                                <div class="col-md-4" id="inputTglAngsuran" style="display: none;">
                                    <input class="form-control" type="date" name="tanggalAngsuran" id="tanggalAngsuran"
                                        placeholder="masukan tanggal angsuran" />
                                </div>
                            </div>
                            <div style="display: none;" id="sectionTunaiBertahap">
                                <div class="row mb-2">
                                    <div class="col-md-2">
                                        <label for="periodeCicilan">
                                            Periode Cicilan:
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="custom-select" name="periodeCicilan" id="periodeCicilan">
                                            <option value="">-- Pilih Periode Cicilan --</option>
                                            <option value="1">1 bulan</option>
                                            <option value="2">2 bulan</option>
                                            <option value="3">3 bulan</option>
                                            <option value="4">4 bulan</option>
                                            <option value="5">5 bulan</option>
                                            <option value="6">6 bulan</option>
                                            <option value="7">7 bulan</option>
                                            <option value="8">8 bulan</option>
                                            <option value="9">9 bulan</option>
                                            <option value="10">10 bulan</option>
                                            <option value="11">11 bulan</option>
                                            <option value="12">12 bulan</option>
                                            <option value="13">13 bulan</option>
                                            <option value="14">14 bulan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" id="sectionBiayaAdmin" style="display: none;">
                                    <div class="col-md-2">
                                        <label for="biayaAdmin">Biaya Admin: </label>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color:black" id="biayaAdmin">Rp. 6.000.000</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="hargaCicilan">Cicilan: </label>
                                    </div>
                                    <div class="col-md-4">
                                        <p style="color:black" id="hargaCicilan">Rp. 0 / Bulan</p>
                                    </div>
                                </div>
                                <div class="row p-2 m-2" id="sectionCicilan">
                                    <table id="tableCicilan" class="table table-striped table-bordered"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="color:#aa8453">Cicilan</th>
                                                <th style="color:#aa8453">Nominal</th>
                                                <th style="color:#aa8453">Tanggal Cicilan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button id="btnPrint" class="btn btn-primary"><i class="fa fa-print"></i> PRINT</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="section-padding">
            <div class="container">
                <div class="col-md-12">
                    <div class="section-subtitle">Onasis Town House</div>
                    <div class="section-title">Property</div>
                </div>
            </div>
        </section> -->
    </div>
    <!-- jQuery -->
    <div th:replace="assets/js :: js"></div>
    <script th:src="@{/js/moment.min.js}"></script>
    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.2.146/pdf.min.js"
        integrity="sha512-hA0/Bv8+ywjnycIbT0xuCWB1sRgOzPmksIv4Qfvqv0DOKP02jSor8oHuIKpweUCsxiWGIl+QaV0E82mPQ7/gyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:inline="javascript">
        var tableCicilan;
        var hargaSetelahDP = 0;
        var BASE64_MARKER = ';base64,';
        function convertDataURIToBinary(dataURI) {
            var base64Index = dataURI.indexOf(BASE64_MARKER) + BASE64_MARKER.length;
            var base64 = dataURI.substring(base64Index);
            var raw = window.atob(base64);
            var rawLength = raw.length;
            var array = new Uint8Array(new ArrayBuffer(rawLength));

            for (var i = 0; i < rawLength; i++) {
                array[i] = raw.charCodeAt(i);
            }
            return array;
        }
        $("#property").on('change', function () {
            $("#tipeProperty").empty();
            var option = `<option value="" selected disabled>-- Pilih Tipe --</option>`;
            $("#tipeProperty").append(option);
            if (this.value == '') {
                return;
            }
            $.get(`/property/getTipeById?id=${this.value}`, function (res) {
                if (res.listTipeProperty.length > 0) {
                    res.listTipeProperty.forEach(function (value) {
                        option = `<option value="${value}"> ${value} </option>`;
                        $("#tipeProperty").append(option);
                    });
                    return;
                }
                $("#sectionPembayaran").hide();
                $("#sectionLbLt").hide();
                return;
            });
        });
        $("#tipeProperty").on('change', function () {
            if (this.value == '' || $("#property option:selected").val() == '') {
                return;
            }
            $.get(`/property/${$("#property option:selected").val()}?tipeProperty=${this.value}`, function (res) {
                if (res.propertyDetails != null) {
                    $("#sectionLbLt").show();
                    $("#sectionPembayaran").show();
                    $("#luasBangunan").text(`${res.propertyDetails.luasBangunan} (m²)`);
                    $("#luasTanah").text(`${res.propertyDetails.luasTanah} (m²)`);
                    $("#hargaJual").text(`${formatRupiah(res.propertyDetails.harga.toString(), 'Rp. ')}`);
                    // $("#headerFormulir").text(`Simulasi Sistem Pembayaran ${res.property.propertyName}`);
                    return;
                }
                $("#sectionPembayaran").hide();
                $("#sectionLbLt").hide();
                return;
            })
        });
        /* Fungsi */
        function formatRupiah(angka, prefix) {
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
        }

        function formatRupiahPerBulan(angka, prefix) {
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah + ' / Bulan' : '');
        }
        $('#discount').on('keyup', function (e) {
            this.value = formatRupiah(this.value, 'Rp. ');
        });

        $('#bookingFee').on('keyup', function (e) {
            this.value = formatRupiah(this.value, 'Rp. ');
        });

        $("#discount").on('change', function () {
            var hargaJual = $("#hargaJual").text().trim().replaceAll("Rp. ", "").replaceAll(".", "");
            var hargaDiscount = this.value.trim().replaceAll("Rp. ", "").replaceAll(".", "");
            $("#totalHarga").text(formatRupiah(Math.ceil((hargaJual - hargaDiscount)).toString(), 'Rp. '));
        });
        $("#dpBayar").on('change', function () {
            var dpBayar = $(this).find("option:selected").text().replace("%", "");
            var totalHarga = $("#totalHarga").text().trim().replaceAll("Rp. ", "").replaceAll(".", "");
            var bookingFee = $("#bookingFee").val().trim().replaceAll("Rp. ", "").replaceAll(".", "");
            var totalHargaMinBookingFee = (totalHarga - bookingFee);
            var hargaSetelahBookingFee = totalHargaMinBookingFee * (dpBayar / 100);
            var totalDp = totalHargaMinBookingFee - hargaSetelahBookingFee;
            $("#totalDp").text(formatRupiah(Math.ceil(hargaSetelahBookingFee).toString(), 'Rp. '));
            $("#totalkeseluruhanHarga").text(formatRupiah(Math.ceil(totalDp).toString(), 'Rp. '));
        });
        $("#periodeCicilan").on('change', function () {
            var totalkeseluruhanHarga = $("#totalkeseluruhanHarga").text().trim().replaceAll("Rp. ", "").replaceAll(".", "");
            var cicilanPerBulan = totalkeseluruhanHarga / this.value;
            $("#hargaCicilan").text(formatRupiahPerBulan(Math.ceil(cicilanPerBulan).toString(), 'Rp. '));
            if (this.value <= 12) {
                $("#sectionBiayaAdmin").hide();
            } else {
                $("#sectionBiayaAdmin").show();
            }
            $("#tableCicilan").find('tbody').empty();
            for (let i = 1; i <= this.value; i++) {
                var tanggalCicilan = moment($("#tanggalDp").val()).add(i, 'months').format('YYYY-MM-DD');
                $("#tableCicilan").find('tbody').append(
                    `<tr><td style="color:#aa8453">Cicilan ${i}</td>
                                            <td style="color:#aa8453">${$("#hargaCicilan").text().replace(" / Bulan", "")}</td>
                                            <td>
                                                <input value="${tanggalCicilan}" class="form-control" type="date" name="tglCicilan[]" id="tglCicilan${i}"
                                                    placeholder="masukan tanggal cicilan" />
                                            </td></tr>`
                );
            }
            return;
        });
        $("#caraBayar").on('change', function () {
            if (this.value == 1) {
                $("#lblTglAngsuran").show();
                $("#inputTglAngsuran").show();
                $("#sectionTunaiBertahap").hide();
            } else if (this.value == 2) {
                $("#lblTglAngsuran").hide();
                $("#inputTglAngsuran").hide();
                $("#sectionTunaiBertahap").show();
            }
        });

        $("#btnPrint").on('click', function () {

            // var jsonData = {
            //     "tanggal": "09 January 2023",
            //     "namaProperty": "Smart Home Jalan Pemuda",
            //     "tipeProperty": " A ",
            //     "luasBangunan": "42 (m²)",
            //     "luasTanah": "52 (m²)",
            //     "namaPembeli": "asd",
            //     "noKtpPembeli": "142131",
            //     "alamatLengkap": "sdasd",
            //     "noTelepon": "+62812364217128",
            //     "caraBayar": "Tunai Bertahap",
            //     "hargaProperty": "Rp. 1.400.000.000",
            //     "discount": "Rp. 25.000.000",
            //     "hargaSetelahDiscount": "Rp. 1.375.000.000",
            //     "bookingFee": "Rp. 25.000.000",
            //     "tanggalBooking": "09 January 2023",
            //     "dp": "20%",
            //     "tanggalDp": "09 January 2023",
            //     "hargaDp": "Rp. 270.000.000",
            //     "totalHarga": "Rp. 1.080.000.000",
            //     "periodeCicilanIsTrue": true,
            //     "periodeCicilan": "14 bulan",
            //     "cicilan": "Rp. 100.142.858 / Bulan",
            //     "kenaAdmin": true,
            //     "biayaAdmin": "Rp. 6.000.000"
            // }

            // var jsonDataTest = {
            //     "tanggal": "09 January 2023",
            //     "namaProperty": "Smart Home Jalan Pemuda",
            //     "tipeProperty": " A ",
            //     "luasBangunan": "42 (m²)",
            //     "luasTanah": "52 (m²)",
            //     "namaPembeli": "Said",
            //     "noKtpPembeli": "127417218",
            //     "alamatLengkap": "Jl Raya Pelabuhan",
            //     "noTelepon": "+6281310894329",
            //     "caraBayar": "Tunai Bertahap",
            //     "hargaProperty": "Rp. 1.400.000.000",
            //     "discount": "Rp. 2.500.000",
            //     "hargaSetelahDiscount": "Rp. 1.397.500.000",
            //     "bookingFee": "Rp. 2.500.000",
            //     "tanggalBooking": "10 January 2023",
            //     "dp": "20%",
            //     "hargaDp": "Rp. 279.000.000",
            //     "totalHarga": "Rp. 1.116.000.000",
            //     "periodeCicilanIsTrue": true,
            //     "periodeCicilan": "13 bulan",
            //     "cicilan": "Rp. 85.846.154 / Bulan",
            //     "kenaAdmin": true,
            //     "biayaAdmin": "Rp. 6.000.000"
            // }
            var jsonData = {
                "tanggal": moment().format("DD MMMM YYYY"),
                "namaProperty": $("#property option:selected").text(),
                "tipeProperty": $("#tipeProperty option:selected").text(),
                "luasBangunan": $("#luasBangunan").text(),
                "luasTanah": $("#luasTanah").text(),
                "namaPembeli": $("#namaPembeli").val(),
                "noKtpPembeli": $("#nomorKtp").val(),
                "alamatLengkap": $("#alamatLengkap").val(),
                "noTelepon": `+62${$("#nomerTelpon").val()}`,
                "caraBayar": $("#caraBayar option:selected").text(),
                "hargaProperty": $("#hargaJual").text(),
                "discount": $("#discount").val(),
                "hargaSetelahDiscount": $("#totalHarga").text(),
                "bookingFee": $("#bookingFee").val(),
                "tanggalBooking": moment($("#tanggalBooking").val(), 'YYYY-MM-DD').format("DD MMMM YYYY"),
                "dp": $("#dpBayar option:selected").text(),
                "tanggalDp": moment($("#tanggalDp").val(), 'YYYY-MM-DD').format("DD MMMM YYYY"),
                "hargaDp": $("#totalDp").text(),
                "totalHarga": $("#totalkeseluruhanHarga").text(),
                "periodeCicilanIsTrue": $("#caraBayar option:selected").val() == 2,
                "periodeCicilan": $("#periodeCicilan option:selected").text(),
                "cicilan": $("#hargaCicilan").text(),
                "kenaAdmin": $("#periodeCicilan option:selected").val() > 12,
                "biayaAdmin": $("#biayaAdmin").text()
            }
            var urlHit = `/property/cetakFormulirPemesanan`;
            $.ajax({
                method: "POST",
                url: `${urlHit}`,
                data: JSON.stringify(jsonData),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    var base64 = `data:application/pdf;base64,${data.file}`;
                    var downloadLink = document.createElement("a");
                    downloadLink.href = base64;
                    downloadLink.download = data.filename;
                    downloadLink.click();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
            if ($("#caraBayar option:selected").val() == 2) {
                var vmCetakRumah = [];
                for (let i = 1; i <= $("#periodeCicilan option:selected").val(); i++) {
                    var obj = {
                        "txtCicilan": `Cicilan ${i}`,
                        "nominalCicilan": $("#hargaCicilan").text().replace(" / Bulan", ""),
                        "tanggalCicilan": moment($(`#tglCicilan${i}`).val(), 'YYYY-MM-DD').format("DD MMMM YYYY")
                    }
                    vmCetakRumah.push(obj);
                }
                var urlHit = `/property/cetakFormulirPemesananCicilan?propertyName=${$('#property option:selected').text()}`;
                $.ajax({
                    method: "POST",
                    url: `${urlHit}`,
                    data: JSON.stringify(vmCetakRumah),
                    processData: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data, textStatus, jqXHR) {
                        var base64 = `data:application/pdf;base64,${data.file}`;
                        var downloadLink = document.createElement("a");
                        downloadLink.href = base64;
                        downloadLink.download = data.filename;
                        downloadLink.click();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus);
                    }
                });
            }
        });
        function printPDF(pdfData) {
            var pdfjsLib = window['pdfjs-dist/build/pdf'];

            // The workerSrc property shall be specified.
            pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

            // Using DocumentInitParameters object to load binary data.
            var loadingTask = pdfjsLib.getDocument({ data: pdfData });
            loadingTask.promise.then(function (pdf) {
                console.log('PDF loaded');

                // Fetch the first page
                var pageNumber = 1;
                pdf.getPage(pageNumber).then(function (page) {
                    console.log('Page loaded');

                    var scale = 1.5;
                    var viewport = page.getViewport({ scale: scale });

                    // Prepare canvas using PDF page dimensions
                    var canvas = document.getElementById('the-canvas');
                    var context = canvas.getContext('2d');
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;

                    // Render PDF page into canvas context
                    var renderContext = {
                        canvasContext: context,
                        viewport: viewport
                    };
                    var renderTask = page.render(renderContext);
                    renderTask.promise.then(function () {
                        console.log('Page rendered');
                    });
                });
            }, function (reason) {
                // PDF loading error
                console.error(reason);
            });
        }
        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                console.log(reader.result);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }
    </script>
</body>

</html>