<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Onasis Town House | CMS</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style6.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .dataTables_wrapper label select {
            width: 160px;
            max-width: 100%;
            height: 35px;
        }
    </style>
    <script type="text/javascript"> //<![CDATA[ 
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Sidebar Section -->
    <a href="#" class="js-cappa-nav-toggle cappa-nav-toggle"><i></i></a>
    <div th:replace="admin/fragments/aside :: sidebar"></div>
    <!-- Main -->
    <div id="cappa-main">
        <section class="section-padding">
            <div class="container">
                <div style="background-color: #1b1b1b; border-color: #aa8453;" class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h2>Selamat Datang di Content Management</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="d-flex justify-content-end">
                    <label for="tglSebelum" class="ml-5" style="font-size: 16px; font-weight: 600;">Dari: </label>
                    <input id="tglSebelum" type="date" class="form-control-sm ml-2" />
                    <label for="tglSesudah" class="ml-5" style="font-size: 16px; font-weight: 600;">Sampai: </label>
                    <input id="tglSesudah" type="date" class="form-control-sm ml-2" />
                </div>
                <div class="d-flex justify-content-end mt-1">
                    <button onclick="filter()" class="btn"
                        style="background-color: #aa8453; color: white;">submit</button>
                </div>
            </div>
            <div class="container mt-2">
                <div style="background-color: #1b1b1b; border-color: #aa8453;" class="card">
                    <div class="row">
                        <div class="col">
                            <div class="card-body">
                                <div class="d-flex justify-content-center text-center">
                                    <h4>Total Data Pengunjung Keseluruhan</h4>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h1 id="pengunjungKeseluruhan">0</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <div class="d-flex justify-content-center text-center">
                                    <h4>Total Data Pengunjung Hari ini</h4>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h1 id="pengunjungHariIni">0</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sectionFilter" class="row" style="display: none;">
                        <div class="card-body">
                            <div class="d-flex justify-content-center text-center">
                                <h4>Total Data Pengunjung</h4>
                            </div>
                            <div class="d-flex justify-content-center text-center">
                                <h4 id="tglFilter">22-02-2023 s.d 23-02-2023</h4>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1 id="pengunjungTglFilter">0</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-2">
                <div style="background-color: #1b1b1b; border-color: #aa8453;" class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <canvas id="barDataNoTelpon"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- jQuery -->
    <div th:replace="assets/js :: js"></div>
    <script th:src="@{/js/chart-utils.min.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">
        var Utils = ChartUtils.init();
        var noTelpBarChart;

        function dataLog() {
            $.get(`/log/aktivitas?tglDari=${moment().format('YYYY-MM-DD')}&tglSampai=${moment().add(1, 'days').format('YYYY-MM-DD')}`, function (data) {
                $("#pengunjungKeseluruhan").text(data.totalKeseluruhan);
                $("#pengunjungHariIni").text(data.totalHariIni);
            });
        }

        function filter() {
            chartNoTelpon();
            $("#sectionFilter").show();
            console.log($("#tglSesudah").val());
            $("#tglFilter").text(`${moment($("#tglSebelum").val()).format('DD-MM-YYYY')} ${$("#tglSesudah").val() == '' ? '' : ' s.d ' + moment($("#tglSesudah").val()).format('DD-MM-YYYY')}`)
            var tglSebelum = $("#tglSebelum").val() == '' ? '2023-01-01' : $("#tglSebelum").val();
            var tglSesudah = $("#tglSesudah").val() == '' ? moment().add(1, 'days').format('YYYY-MM-DD') : moment($("#tglSesudah").val()).add(1, 'days').format('YYYY-MM-DD');
            $.get(`/log/aktivitas?tglDari=${tglSebelum}&tglSampai=${tglSesudah}`, function (data) {
                $("#pengunjungTglFilter").text(data.totalHariIni);
            });

        }

        function chartNoTelpon() {
            var tglSebelum = $("#tglSebelum").val() == '' ? '2023-01-01' : $("#tglSebelum").val();
            var tglSesudah = $("#tglSesudah").val() == '' ? moment().add(1, 'days').format('YYYY-MM-DD') : moment($("#tglSesudah").val()).add(1, 'days').format('YYYY-MM-DD');
            var listLables = [];
            var listValues = [];
            // var url = `/log/whatsapp?tglDari=${moment().format('YYYY-MM-DD')}&tglSampai=${moment().add(1, 'days').format('YYYY-MM-DD')}`;
            $.get(`/log/whatsapp?tglDari=${tglSebelum}&tglSampai=${tglSesudah}`, function (listLog) {
                listLog.forEach(function (log) {
                    listLables.push(log[1]);
                    listValues.push(log[0]);
                });
            });
            setTimeout(() => {
                if (noTelpBarChart) {
                    noTelpBarChart.destroy();
                }
                var ctx = $(`#barDataNoTelpon`);
                noTelpBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: listLables,
                        datasets: [
                            {
                                label: 'Total marketing yang dihubungi berdasarkan nama',
                                data: listValues,
                                borderColor: '#EEEEEE',
                                backgroundColor: Utils.transparentize('#aa8453', 0.5),
                                borderWidth: 2,
                                borderRadius: 5,
                                borderSkipped: false,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Total nama marketing yang dihubungi',
                                color: "white", // not 'fontColor:' anymore
                                // fontSize: 18,
                                font: {
                                    size: 18, // 'size' now within object 'font {}'
                                }
                            }
                        },
                        scales: {
                            y: {  // not 'yAxes: [{' anymore (not an array anymore)
                                ticks: {
                                    color: "white", // not 'fontColor:' anymore
                                    // fontSize: 18,
                                    font: {
                                        size: 18, // 'size' now within object 'font {}'
                                    },
                                    stepSize: 1,
                                    beginAtZero: true
                                }
                            },
                            x: {  // not 'xAxes: [{' anymore (not an array anymore)
                                ticks: {
                                    color: "white",  // not 'fontColor:' anymore
                                    //fontSize: 14,
                                    font: {
                                        size: 14 // 'size' now within object 'font {}'
                                    },
                                    stepSize: 1,
                                    beginAtZero: true
                                }
                            }
                        }
                    },
                });
            }, 2000);

        }

        const ctx3 = document.getElementById('barDataNoTelpon');
        const actions = [
            {
                name: 'Randomize',
                handler(chart) {
                    chart.data.datasets.forEach(dataset => {
                        dataset.data = Utils.numbers({ count: chart.data.labels.length, min: -100, max: 100 });
                    });
                    chart.update();
                }
            },
        ];
        const DATA_COUNT = 7;
        const NUMBER_CFG = { count: DATA_COUNT, min: 0, max: 100 };

        const labels = Utils.months({ count: 7 });
        $(document).ready(function () {
            dataLog();
            chartNoTelpon();
        });
    </script>
    <script language="JavaScript" type="text/javascript">
        TrustLogo("https://onasistownhouse.com/images/positivessl_trust_seal_lg_222x54.png", "CL1", "none");
        </script>
        <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
</body>

</html>