<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Onasis Town House | CMS</title>
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style6.css" />
    <link rel="stylesheet" href="css/plugins/themify-icons.css" />
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Sidebar Section -->
    <a href="#" class="js-cappa-nav-toggle cappa-nav-toggle"><i></i></a>
    <aside id="cappa-aside">
        <!-- Logo -->
        <div class="cappa-logo">
            <a th:href="@{/admin}">
                <!-- <img src="img/logo-dark.png" class="logo-img" alt=""> -->
                <div>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                </div>
                <h2>Onasis<span>Town House</span></h2>
            </a>
        </div>
        <!-- Menu -->
        <nav class="cappa-main-menu">
            <ul>
                <li class='cappa-sub' th:if="${session.role == 'Super User' || session.role == 'Admin'}"><a
                        href='about.html'>User
                        Management</a>
                    <ul>
                        <li><a href='index.html'>Tambah User</a></li>
                        <li><a href='index.html'>Lihat User</a></li>
                        <li><a href='index2.html'>Ubah Data User</a></li>
                        <li><a href='index3.html'>Hapus User</a></li>
                    </ul>
                </li>
                <li class='cappa-sub'><a href='#'>Property</a>
                    <ul>
                        <li><a href='index.html'>Home Layout 1</a></li>
                        <li><a href='index2.html'>Home Layout 2</a></li>
                        <li><a href='index3.html'>Home Layout 3</a></li>
                        <li class="active"><a href='index4.html'>Home Layout 4</a></li>
                        <li><a href='index5.html'>Home Layout 5</a></li>
                        <li><a href='index6.html'>Kenburns Slider</a></li>
                        <li><a href='index8.html'>Parallax Image</a></li>
                    </ul>
                </li>
                <li><a href='about.html'>Website Title</a></li>
                <li><a href='about.html'>Calculating</a></li>
                <!-- <li class='cappa-sub'><a href='#'> Rooms & Suites</a>
                    <ul>
                        <li><a href='rooms.html'>Rooms 1</a></li>
                        <li><a href='rooms2.html'>Rooms 2</a></li>
                        <li><a href='rooms3.html'>Rooms 3</a></li>
                        <li><a href='room-details.html'>Room Details</a></li>
                    </ul>
                </li>
                <li><a href="restaurant.html">Restaurant</a></li>
                <li><a href="spa-wellness.html">Spa Center</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class='cappa-sub'><a href='#'>News</a>
                    <ul>
                        <li><a href='news.html'>News 1</a></li>
                        <li><a href='news2.html'>News 2</a></li>
                        <li><a href='post.html'>Single Post</a></li>
                    </ul>
                </li>
                <li><a href='contact.html'>Contact</a></li> -->
            </ul>
        </nav>
        <!-- Sidebar Footer -->
        <div class="cappa-footer">
            <div class="footer-column footer-contact">
                <div class="footer-contact-info">
                    <div onclick="logout()" class="reservations" style="cursor: pointer;">
                        <div class="icon"><span class="ti-power-off"></span></div>
                        <div class="text">
                            <p>Keluar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- Main -->
    <div id="cappa-main">
        <section class="section-padding">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h2>tes</h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- <div class="container mt-5">
            <h2>User Management</h2>
            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex3-tab-1" data-toggle="tab" href="#ex3-tabs-1" role="tab"
                        aria-controls="ex3-tabs-1" aria-selected="true">Tambah Role</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex3-tab-2" data-toggle="tab" href="#ex3-tabs-2" role="tab"
                        aria-controls="ex3-tabs-2" aria-selected="false">Lihat Role</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex3-tab-3" data-toggle="tab" href="#ex3-tabs-3" role="tab"
                        aria-controls="ex3-tabs-1" aria-selected="true">Ubah Role</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex3-tab-4" data-toggle="tab" href="#ex3-tabs-4" role="tab"
                        aria-controls="ex3-tabs-2" aria-selected="false">Hapus Role</a>
                </li>
            </ul>
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
                    <div class="card">
                        <div class="card-body">
                            <form action="#">
                                <div class="form-group">
                                    <label for="namaRole">Nama Role</label>
                                    <input type="text" name="namaRole" id="namaRole" placeholder="Masukan Nama Role" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                    <div class="card">
                        <div class="card-body">
                            <h1>Lihat Role</h1>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                    <div class="card">
                        <div class="card-body">
                            <h1>Ubah Role</h1>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex3-tabs-4" role="tabpanel" aria-labelledby="ex3-tab-4">
                    <div class="card">
                        <div class="card-body">
                            <h1>Hapus Role</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/custom6.js"></script>
    <script th:inline="javascript">
        function logout() {
            window.location.href = "/logout";
        }
    </script>
</body>

</html>