<!DOCTYPE html>
<html lang="zxx" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Onasis Town House | CMS</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style6.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .dataTables_wrapper label select {
            width: 160px;
            max-width: 100%;
            height: 35px;
        }
    </style>
    <script type="text/javascript"> //<![CDATA[ 
        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
    </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Sidebar Section -->
    <a href="#" class="js-cappa-nav-toggle cappa-nav-toggle"><i></i></a>
    <div th:replace="admin/fragments/aside :: sidebar"></div>
    <!-- Main -->
    <div id="cappa-main">
        <section class="section-padding">
            <div class="container">
                <div style="background-color: black; border-color: #aa8453;" class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h2 style="color: white;">Kontak WhatsApp</h2>
                        </div>
                        <div class="container">
                            <table id="tableKontak" class="table table-striped table-bordered" style="width:100%">
                                <thead class="thead-light">
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>No Telpon</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-right">
                                            <button style="background-color: #aa8453; color: white;" type="button"
                                                id="tambahKontak" class="btn" onclick="showModalTambahContact()">+
                                                Tambah Kontak</button>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="modalContact" class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 id="heaederModal" style="color:#aa8453;">Tambah Kontak</h3>
                                <button type="button" class="close" onclick="dismiss('modalContact')"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" id="formmodalContact">
                                    <input id="idContactPerson" name="idContactPerson" type="text"
                                        style="display: none;" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="namaContact">Nama Kontak</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input id="namaContact" name="namaContact" type="text"
                                                class="form-control-sm" placeholder="masukan nama kontak" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="nomorTelpon">Nomor Telepon</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">+62</span>
                                                </div>
                                                <input type="text" class="form-control p-2"
                                                    placeholder="masukan nomor telepon" id="nomorTelpon"
                                                    name="nomorTelpon">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="btnTambahContact" style="background-color: #aa8453; color: white;"
                                    type="button" onclick="tambahContact()" class="btn">Tambahkan Kontak</button>
                                <button id="btnEditContact" style="background-color: #aa8453; color: white;"
                                    type="button" onclick="editContact()" class="btn">Ubah Kontak</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- jQuery -->
    <div th:replace="assets/js :: js"></div>
    <script th:inline="javascript">

        function showModalTambahContact() {
            $("#heaederModal").text('Tambah Kontak')
            $("#btnEditContact").hide();
            $("#btnTambahContact").show();
            $("#modalContact").toggle('modal');
        }

        function editKontakById(id) {
            $.get(`/admin/getContactById/${id}`, function (kontak) {
                $("#heaederModal").text('Ubah Kontak');
                console.log(kontak.idContactPerson);
                $("#idContactPerson").val(kontak.idContactPerson);
                $("#namaContact").val(kontak.namaContact);
                $("#nomorTelpon").val(kontak.nomorTelpon);
                $("#btnEditContact").show();
                $("#btnTambahContact").hide();
                $("#modalContact").toggle('modal');
            });
        }

        function deleteKontakById(id) {
            Swal.fire({
                title: 'Yakin ingin menghapus kontak ?',
                showCancelButton: true,
                confirmButtonText: 'Ya',
                confirmButtonColor: '#dc3741',
                cancelButtonText: 'Tidak',
                icon: 'warning'
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: `/admin/delete_kontak/${id}`,
                        method: 'DELETE',
                        success: function (data, textStatus, jqXHR) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: `${data}`,
                                showConfirmButton: false,
                                timer: 1500
                            }).then(function () {
                                tableKontak.ajax.reload();
                            });

                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                        }
                    });
                }
            });

        }

        function dismiss(id) {
            $(`#form${id}`).trigger("reset");
            $(`#${id}`).toggle('modal');
        }

        function tambahContact() {
            var contact = {
                "idContactPerson": $("#idContactPerson").val(),
                "nomorTelpon": $("#nomorTelpon").val(),
                "namaContact": $("#namaContact").val()
            }
            $.ajax({
                url: `/admin/tambah_kontak`,
                method: 'POST',
                data: JSON.stringify(contact),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: `${data}`,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        tableKontak.ajax.reload();
                        $("#modalContact").toggle('modal');
                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        function editContact() {
            var contact = {
                "idContactPerson": $("#idContactPerson").val(),
                "nomorTelpon": $("#nomorTelpon").val(),
                "namaContact": $("#namaContact").val()
            }
            $.ajax({
                url: `/admin/edit_kontak`,
                method: 'POST',
                data: JSON.stringify(contact),
                processData: false,
                contentType: "application/json; charset=utf-8",
                success: function (data, textStatus, jqXHR) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: `${data}`,
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        tableKontak.ajax.reload();
                        $("#modalContact").toggle('modal');
                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }

        $(document).ready(function () {
            showTableKontak();
        });

        var tableKontak;
        function showTableKontak() {
            tableKontak = $("#tableKontak").DataTable({
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n        <'table-responsive'tr>\n        <'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
                language: {
                    "zeroRecords": "Data Tidak Ada",
                    paginate: {
                        previous: '<i class="fa fa-lg fa-angle-left"></i>',
                        next: '<i class="fa fa-lg fa-angle-right"></i>'
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    $(row).addClass('text-center');
                },
                serverSide: true,
                processing: true,
                searching: false,
                lengthMenu: [3, 5, 15],
                ajax: function (data, callback, settings) {
                    var page = Math.ceil(
                        settings._iDisplayStart / settings._iDisplayLength
                    );
                    var out = [];
                    var length = 0;
                    $.get(`/admin/get_kontak_whatsapp?start=${page}&length=${data.length}`, function (response) {
                        console.log(response);
                        response.data.content.forEach(function (kontak, i) {
                            var action = `
                                    <button title="Ubah Data Kontak" type="button" class="btn btn-primary" onclick="editKontakById(${kontak.idContactPerson})">
                                        <i class="ti-pencil"></i>
                                    </button>
                                    <button title="Hapus Data Kontak" type="button" class="btn btn-danger" onclick="deleteKontakById(${kontak.idContactPerson})" >
                                        <i class="ti-trash"></i>
                                    </button>`;
                            out.push([
                                ++length,
                                kontak.namaContact,
                                `+62${kontak.nomorTelpon}`,
                                action,
                            ]);
                        });
                        callback({
                            recordsTotal: response.data.totalElements,
                            recordsFiltered: response.data.totalElements,
                            data: out
                        });
                    });

                }
            });
        }
    </script>
    <script language="JavaScript" type="text/javascript">
        TrustLogo("https://onasistownhouse.com/images/positivessl_trust_seal_lg_222x54.png", "CL1", "none");
        </script>
        <a  href="https://www.positivessl.com/" id="comodoTL">Positive SSL</a>
</body>

</html>