<footer th:fragment="footerBottom" class="footer" id="footerBottom">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-inner">
                        <p class="footer-bottom-copy-right">© Copyright 2022 by <a href="#">Onasis Town House</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>