<nav th:fragment="navbar" class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper navbar-brand valign">
            <a th:href="@{/}">
                <div class="row">
                    <div class="col">
                        <img style="width: 48px;" th:src="@{/img/favicon.png}" class="logo-img" alt="Image Not Found">
                    </div>
                    <div class="col" style="margin-left: -1rem;">
                        <div class="logo" th:utext="${websiteName}">
                            <!-- <img src="img/logo.png" class="logo-img" alt="Image Not Found"> -->

                        </div>
                    </div>
                </div>

            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="icon-bar"><i class="ti-line-double"></i></span> </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown"> <a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" class="nav-link" th:href="@{/}">Beranda</a>
                </li>
                <li class="nav-item dropdown"> <a th:classappend="${#httpServletRequest.getRequestURI() == '/property' ? 'active':''}" class="nav-link" th:href="@{/property}">Property</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#footerTop">Tentang Kami</a></li>
                <li style="cursor: pointer;"
                    th:if="${session.role == 'Super User' || session.role == 'Admin' || session.role == 'Marketing'}"
                    class="nav-item"><a class="nav-link" onclick="window.location.href = '/admin'">Halaman Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>