<div th:fragment="js">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-3.0.0.min.js}"></script>
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/js/jquery.isotope.v3.0.2.js}"></script>
    <script th:src="@{/js/pace.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scrollIt.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>
    <script th:src="@{/js/YouTubePopUp.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/smooth-scroll.min.js}"></script>
    <script th:src="@{/js/custom6.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</div>