<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="google-site-verification" content="w_5ajaJMvXEGYDQXCbEqTVy3bAtSle5IIePlYo6H8EE" />
    <title>Onasis Town House</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style1.css}" />
</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N6EELX689J"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-N6EELX689J');
</script>


<body>
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- Slider -->
    <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
    <header class="header slider-fade" id="header">
        <div class="owl-carousel owl-theme">
            <div th:each="photo : ${website.listWebsitePhoto}" class="text-center item bg-img" data-overlay-dark="2"
                th:attr="data-background='/loadfile/'+${photo.namaPhoto}">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h2>Enjoy The Best Moments of Life</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Rekomendasi -->
    <section class="news section-padding bg-cream" data-scroll-index="1" id="property">
        <div th:replace="listRekomendasi :: listRekomendasi"></div>
    </section>

    <section class="section-padding bg-black" data-scroll-index="1">
        <div class="row justify-content-center">
            <div class="text-center mb-5 col-md-12">
                <h1 style="color:white;" th:text="'Tawaran Menarik '+${website.websiteName}"></h1>
            </div>
            <div class="container d-flex flex-row">
                <div class="col-md-6">
                    <div class="card animate-box" data-animate-effect="fadeInUp">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row items-center justify-content-center">
                                    <img style="width: 90px;" th:src="@{/icons/home.png}" alt="Image Not Found"
                                        srcset="">

                                </div>
                                <div class="d-flex flex-row justify-content-center text-center mt-2">
                                    <h4>Cari Hunian ?</h4>
                                </div>
                                <div class="d-flex flex-row justify-content-center text-center mt-2">
                                    <p>Mari kita temukan berbagai tipe rumah dengan desain menarik, lokasi strategis,
                                        lingkungan nyaman, lokasi yang mudah dijangkau, dan harga yang masih masuk
                                        kategori ramah kantong!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card animate-box" data-animate-effect="fadeInUp">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row items-center justify-content-center">
                                    <img style="width: 90px;" th:src="@{/icons/cash.png}" alt="Image Not Found"
                                        srcset="">

                                </div>
                                <div class="d-flex flex-row justify-content-center text-center mt-2">
                                    <h4>Beli Rumah Tanpa Bunga ?</h4>
                                </div>
                                <div class="d-flex flex-row justify-content-center text-center mt-2">
                                    <p>Kami menawarkan pembelian Rumah dengan cara cicilan bertahap TANPA BUNGA, tentu
                                        dengan harga yang masih ramah kantong dan juga ada diskon loh! Yuk hubungi kami
                                        untuk konsultasi lebih lanjut</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="text-center mb-5 col-md-12">
                <h1 style="color: white;">Motto Kami</h1>
            </div>
            <div class="container d-flex flex-row">
                <div class="col-md-4">
                    <div class="card animate-box" data-animate-effect="fadeInUp" style="height: 226px;">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row items-center justify-content-center">
                                    <img style="width: 90px;" th:src="@{/icons/marketing.png}" alt="Image Not Found"
                                        srcset="">

                                </div>
                                <div class="mt-3 d-flex flex-row justify-content-center text-center mt-2">
                                    <h4>Marketing Menyeluruh</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card animate-box" data-animate-effect="fadeInUp" style="height: 226px;">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row items-center justify-content-center">
                                    <img style="width: 90px;" th:src="@{/icons/kualitas.png}" alt="Image Not Found"
                                        srcset="">

                                </div>
                                <div class="mt-3 d-flex flex-row justify-content-center text-center mt-2">
                                    <h4>Bangunan Berkualitas</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card animate-box" data-animate-effect="fadeInUp" style="height: 226px;">
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <div class="d-flex flex-row items-center justify-content-center">
                                    <img style="width: 90px;" th:src="@{/icons/cash.png}" alt="Image Not Found"
                                        srcset="">
                                </div>
                                <div class="mt-3 d-flex flex-row justify-content-center text-center mt-2">
                                    <h4>Good Communication Agent</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3"
        data-background="img/slider/2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <!-- <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i
                            class="star-rating"></i><i class="star-rating"></i></span> -->
                    <!-- <div class="section-subtitle"><span>The Cappa Luxury Hotel</span></div> -->
                    <div class="section-title"><span th:text="${website.websiteName}"></span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a href="#headerPopup" id="headerVideoLink" target="_blank" class="vid">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                    <video id="videoPopUp" width="100%" controls>
                        <source th:src="${websiteVideo}" type="video/mp4" />
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!-- News -->
    <section class="facilties section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-center">
                        <h2 th:text="'Kenapa Harus '+${website.websiteName}+' ?'"></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <div class="d-flex justify-content-center">
                            <img style="width: 70px; margin-bottom: 20px;" th:src="@{/icons/cash.png}"
                                alt="Image Not Found" srcset="">
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>Tidak Ada Bunga</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <div class="d-flex justify-content-center">
                            <img style="width: 90px; margin-bottom: 20px;" th:src="@{/icons/discount.png}"
                                alt="Image Not Found" srcset="">
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>Pasti Ada Discount</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <div class="d-flex justify-content-center">
                            <img style="width: 90px; margin-bottom: 20px;" th:src="@{/icons/pusatkota.png}"
                                alt="Image Not Found" srcset="">
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>Lokasi Pusat Kota</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-facility animate-box" data-animate-effect="fadeInUp">
                        <div class="d-flex justify-content-center">
                            <img style="width: 90px; margin-bottom: 20px;" th:src="@{/icons/hargamurah.png}"
                                alt="Image Not Found" srcset="">
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>100% Harga Paling Murah</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="news section-padding bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>Hotel Blog</span></div>
                    <div class="section-title"><span>Our News</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/1.jpg" alt="Image Not Found">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>02</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Restaurant</a>
                                </span>
                                <h5><a href="post.html">Historic restaurant renovated</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/2.jpg" alt="Image Not Found">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>04</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Spa</a>
                                </span>
                                <h5><a href="post.html">Benefits of Spa Treatments</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/3.jpg" alt="Image Not Found">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>06</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Bathrooms</a>
                                </span>
                                <h5><a href="post.html">Hotel Bathroom Collections</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/4.jpg" alt="Image Not Found">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con">
                                <span class="category">
                                    <a href="news.html">Health</a>
                                </span>
                                <h5><a href="post.html">Weight Loss with Fitness Health Club</a></h5>
                            </div>
                        </div>

                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/6.jpg" alt="Image Not Found">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Design</a>
                                </span>
                                <h5><a href="post.html">Retro Lighting Design in The Hotels</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/5.jpg" alt="Image Not Found">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Health</a>
                                </span>
                                <h5><a href="post.html">Benefits of Swimming for Your Health</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Footer -->
    <div th:replace="fragments/footerTop :: footerTop"></div>
    <div th:replace="fragments/footerBottom :: footerBottom"></div>
    <!-- jQuery -->

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-3.0.0.min.js}"></script>
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/js/jquery.isotope.v3.0.2.js}"></script>
    <script th:src="@{/js/pace.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scrollIt.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>
    <script th:src="@{/js/YouTubePopUp.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/smooth-scroll.min.js}"></script>
    <script th:src="@{/js/custom1.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
            callbacks: {
                open: function () {
                    $.magnificPopup.instance.close = function () {
                        // Do whatever else you need to do here
                        $("#videoPopUp").get(0).pause();
                        // Call the original close method to close the popup
                        $.magnificPopup.proto.close.call(this);
                    };
                }
            }
        });
        /*]]>*/
    </script>
</body>

</html>