<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Onasis Town House</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style1.css}" />
</head>

<body>
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- Slider -->
    <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
    <header class="header slider-fade" id="header">
        <div class="owl-carousel owl-theme">
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="img/slider/12.png">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>Luxury Hotel & Best Resort</h4>
                                <h1>Enjoy a Luxury Experience</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Rooms &
                                            Suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center item bg-img" data-overlay-dark="2" data-background="img/slider/14.png">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>Unique Place to Relax & Enjoy</h4>
                                <h1>The Perfect Base For You</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Rooms &
                                            Suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="img/slider/15.png">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <span>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                    <i class="star-rating"></i>
                                </span>
                                <h4>The Ultimate Luxury Experience</h4>
                                <h1>Enjoy The Best Moments of Life</h1>
                                <div class="butn-light mt-30 mb-30"> <a href="#" data-scroll-nav="1"><span>Rooms &
                                            Suites</span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Rekomendasi -->
    <section class="rooms1 section-padding bg-cream" data-scroll-index="1" id="rekomendasi">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <div class="section-subtitle">The Cappa Luxury Hotel</div> -->
                    <div class="row">
                        <h3>Rekomendasi Hunian </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="item" style="cursor: pointer; border-radius: 8px;" onclick="onclickItem()">
                        <div class="position-re o-hidden"> <img
                                src="https://onasistownhouse.files.wordpress.com/2018/09/brosur-tahap-8-onasis.jpg"
                                alt=""> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item" style="cursor: pointer; border-radius: 8px;" onclick="onclickItem()">
                        <div class="position-re o-hidden"> <img
                                src="https://onasistownhouse.files.wordpress.com/2018/09/brosur-tahap-8-onasis.jpg"
                                alt=""> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item" style="cursor: pointer; border-radius: 8px;" onclick="onclickItem()">
                        <div class="position-re o-hidden"> <img
                                src="https://onasistownhouse.files.wordpress.com/2018/09/brosur-tahap-8-onasis.jpg"
                                alt=""> </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item" style="cursor: pointer; border-radius: 8px;" onclick="onclickItem()">
                        <div class="position-re o-hidden"> <img
                                src="https://onasistownhouse.files.wordpress.com/2018/09/brosur-tahap-8-onasis.jpg"
                                alt=""> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Promo Video -->
    <section class="video-wrapper video section-padding bg-img bg-fixed" data-overlay-dark="3"
        data-background="loadfile/transfer.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <!-- <span><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i
                            class="star-rating"></i><i class="star-rating"></i></span> -->
                    <!-- <div class="section-subtitle"><span>The Cappa Luxury Hotel</span></div> -->
                    <div class="section-title"><span>Onasis Town House</span></div>
                </div>
            </div>
            <div class="row">
                <div class="text-center col-md-12">
                    <a href="#headerPopup" id="headerVideoLink" target="_blank" class="vid">
                        <div class="vid-butn">
                            <span class="icon">
                                <i class="ti-control-play"></i>
                            </span>
                        </div>
                    </a>
                </div>
                <div id="headerPopup" class="mfp-hide embed-responsive embed-responsive-21by9">
                    <video id="videoPopUp" width="100%" autoplay="autoplay" controls muted>
                        <source src="stream/mp4/transfer" type="video/mp4" />
                        Your browser does not support HTML video.
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!-- News -->
    <section class="news section-padding bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-subtitle"><span>Hotel Blog</span></div>
                    <div class="section-title"><span>Our News</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/1.jpg" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>02</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Restaurant</a>
                                </span>
                                <h5><a href="post.html">Historic restaurant renovated</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/2.jpg" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>04</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Spa</a>
                                </span>
                                <h5><a href="post.html">Benefits of Spa Treatments</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/3.jpg" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>06</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Bathrooms</a>
                                </span>
                                <h5><a href="post.html">Hotel Bathroom Collections</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/4.jpg" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con">
                                <span class="category">
                                    <a href="news.html">Health</a>
                                </span>
                                <h5><a href="post.html">Weight Loss with Fitness Health Club</a></h5>
                            </div>
                        </div>

                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/6.jpg" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Design</a>
                                </span>
                                <h5><a href="post.html">Retro Lighting Design in The Hotels</a></h5>
                            </div>
                        </div>
                        <div class="item">
                            <div class="position-re o-hidden"> <img src="img/news/5.jpg" alt="">
                                <div class="date">
                                    <a href="post.html"> <span>Dec</span> <i>08</i> </a>
                                </div>
                            </div>
                            <div class="con"> <span class="category">
                                    <a href="news.html">Health</a>
                                </span>
                                <h5><a href="post.html">Benefits of Swimming for Your Health</a></h5>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- jQuery -->

    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/jquery-migrate-3.0.0.min.js}"></script>
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <script th:src="@{/js/jquery.isotope.v3.0.2.js}"></script>
    <script th:src="@{/js/pace.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scrollIt.min.js}"></script>
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/jquery.stellar.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>
    <script th:src="@{/js/YouTubePopUp.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/datepicker.js}"></script>
    <script th:src="@{/js/smooth-scroll.min.js}"></script>
    <script th:src="@{/js/custom1.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $('#headerVideoLink').magnificPopup({
            type: 'inline',
            midClick: true, // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
            callbacks: {
                open: function () {
                    $.magnificPopup.instance.close = function () {
                        // Do whatever else you need to do here
                        $("#videoPopUp").get(0).pause();

                        // Call the original close method to close the popup
                        $.magnificPopup.proto.close.call(this);
                    };
                }
            }
        });
        function onclickItem() {
            console.log('tes');
        }
        /*]]>*/
    </script>
</body>

</html>