<div class="container" th:fragment="listProperty">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="section-subtitle">The Cappa Luxury Hotel</div> -->
            <div class="row">
                <h3>Daftar Hunian</h3>
            </div>
        </div>
    </div>
    <div class="row" id="contentListProperty">
    </div>
    <div class="row" id="paginationListProperty">
    </div>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/torupiah.js}"></script>
    <script th:inline="javascript">
        var page = 1;
        var size = 8;
        function getListProperty() {
            $.get(`/listProperty?page=${page}&size=${size}&area=${$("#area option:selected").val()}`, function (res) {
                $("#contentListProperty").empty();
                res.propertyPage.content.forEach(function (property, index) {
                    $("#contentListProperty").append(`<div class="col-md-3">
            <div onclick="window.location.href = '/p/${property.propertyName}/details'" style="cursor:pointer;" class="card mt-2">
                <img style="object-fit: cover;height: 250px;"
                    src="/loadfile/${property.propertyBanner}" alt="Image Not Found">
                <div class="d-flex flex-column">
                    <p style="padding-top: 18px; padding-left: 18px; font-weight: 600;">${property.propertyName}</p>
                </div>
            </div>
            </div>`);
                });
                $("#paginationListProperty").empty();
                if (res.propertyPage.totalPages > 1) {
                    $("#paginationListProperty").append(`<div id="paginationContent" class="d-flex flex-row" style="margin-left: auto;"></div>`);
                    if (page > 1) {
                        $("#paginationContent").append(`
            <div class="p-2 m-2"><i style="cursor:pointer;font-size: 28px;" class="fa fa-angle-left" onclick="clickLeft()"></i>
            </div>`);
                    }
                    res.pageNumbers.forEach(function (number) {
                        $("#paginationContent").append(`
            <div onclick="gotoPage(${number})" class="${number == res.propertyPage.number + 1 ? 'p-2 m-2' : 'p-2 m-2'}"
                style="${number == res.propertyPage.number + 1 ? 'cursor:pointer;font-weight:600; background-color: white; border: 2px solid #666; border-radius: 8px;' : 'cursor:pointer;'}">${number}
            </div>
            `)
                    });
                    if (page < res.propertyPage.totalPages) {
                        $("#paginationContent").append(`<div class="p-2 m-2"><i style="cursor:pointer;font-size: 22px;" class="fa fa-angle-right"
                    onclick="clickRight()"></i></div>`);
                    }
                }
            });
        }
        function scrollTo(id) {
            $('html, body').animate({
                scrollTop: $(`#${id}`).offset().top
            }, 3000);
        }
        function gotoPage(i) {
            page = i;
            getListProperty();
            scrollTo('property');
        }
        function clickRight() {
            page++;
            getListProperty();
            scrollTo('property');
        }
        function clickLeft() {
            page--;
            getListProperty();
            scrollTo('property');
        }
        $(document).ready(function () {
            resizeScreenListProperty();
        });

        function resizeScreenListProperty() {
            if (document.body.clientWidth < 768) {
                size = 3;
                getListProperty();
            } else if (document.body.clientWidth < 991) {
                size = 4;
                getListProperty();
            } else {
                getListProperty();
            }
        }
        function debounce(func) {
            var timer;
            return function (event) {
                if (timer) clearTimeout(timer);
                timer = setTimeout(func, 300, event);
            };
        }
        window.addEventListener("resize", debounce(function (e) {
            resizeScreenListProperty();
        }));
        function formatRupiah(angka) {
            return toRupiah(angka, { symbol: 'IDR', useUnit: true, longUnit: true, spaceBeforeUnit: true, formal: false, decimal: '.', floatingPoint: 1 }).replace(".0 juta", " juta").replace(".0 miliar", " miliar");
        }
    </script>
</div>